{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class="text-center">Change Password</h2>


<form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}
    {% if form.errors %}
       <div class="alert alert-warning alert-dismissable" role="alert">
         <button class="close" data-dismiss="alert">
           <small><sup>x</sup></small>
         </button>
         <p>Your Form Has Errors...</p>

         {% for field in form %}
	    {% if field.errors %}
	        {{ field.errors }}
	    {% endif %}
	 {% endfor %}

       </div>
    {% endif %}

    {{ form.as_p }}

    <input type="submit" value="Change Password" class="btn btn-secondary">

</form>
<br><br>
{% endblock %}
